@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Playfair+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "lato";
}

body {
  background: #f4f4f4;
  /* overflow: hidden; */
  font-family: "Playfair Display", serif;
  height: 100vh;
  width: 100vw;
}
header {
  background-color: #2f3c97;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  flex-wrap: wrap;
}
header div {
  /* border: 1px solid black; */
  /* margin: 15px; */
}
#bar-icon {
  /* margin: 20px;
  margin-left: 9px; */
}
.menu-icon img {
  height: 29px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
  height: 33px;
  margin-left: 14px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 470px;
  border-radius: 40px;
}
form{
  background: #fff;
  height: 40px;
  width: 500px;
  display: flex;
}
 form label input {
  flex: 1; 
  width: 440px;  
  border: none;
  outline: none;
}
 form label input[type="text"] {
  font-size: 15px;
  padding: 10px 10px;
  color: #000;
  font-weight: 100;
}
form label .fa-search {
align-self: center;  
padding: 10px 20px;
color: #777;
/* margin: 0 0 0 100px ; */
}


.nav-bar {
  margin-right: 20px;
}
.nav-bar ul li a {
  display: inline-block;
  font-size: small;
}
.nav-bar ul {
  display: flex;
  align-items: center;
  color: white;
  gap: 36px;
  list-style: none;
}
#user-icon {
  margin-left: 10px;
  border-radius: 6px;
}

.text {
  margin: 15px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
  font-style: bold;
}

.text p {
  /* padding-left: 25px; */
  margin-bottom: 20px;
  font-style: bold;
  /* padding-left: px; */
  /* margin-bottom: 20px; */
  font-style: bold;
}

.user-login-text {
  position: relative;
  right: -28px;
  border-right: 2px solid white;
  padding-right: 10px;
}

.images-slider {
  display: flex;
  gap: 10px;
  margin: 5px;
  overflow-x: scroll;
  /* overflow: auto; */
}
.slide img {
  width: 500px;
  object-fit: cover;
  background: #e647be;
  height: 250px;
}

.slide {
  position: relative;
}
.control-prev-btn {
  position: absolute;
  top: 21%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.55);
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  color: #444;
  cursor: pointer;
}
.control-next-btn {
  position: absolute;
  top: 21%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.55);
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  color: #444;
  cursor: pointer;
}

.images-slider2 {
  overflow: auto;
  display: flex;
  gap: 10px;
}

.slide2 {
  /* height: ; */
}

.slide2 img {
  height: 190px;
  width: 250px;
}

.images-slider3 {
  overflow: auto;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.images-slider3 img {
  height: 190px;
  width: 251px;
  border-radius: 8px;
}
